.productos{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.producto{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    padding: 20px;
    margin-bottom: 10px;
    border: solid 1px rgb(180, 179, 179);
    border-radius: 10px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}